.main-page-container {
    max-width: 1600px;
    margin: auto;
    margin-top: 30px;
}
.app-main
{
    background-image: url("../images/bg-main.jpg");
    background-size: cover; 
    background-position: center;
    min-height: 572vh;
}